[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
black = "*"
pre-commit = "*"
pylint = "*"

[packages]
scipy = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
jupyterlab = "*"
simpy = "*"
pywin32 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
